@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
.Light{
  color:#111;
}
.Dark{
  color:#fff;
}
#digital{
  
      font-family: 'Share Tech Mono', monospace;
      font-size:14px;
}
#temp{
  font-family: 'Share Tech Mono', monospace;
}
#date,#data{
   font-family: 'Orbitron', sans-serif;
}
#day{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
#suggestion::-webkit-scrollbar {
  display: none;
}
#windscroll::-webkit-scrollbar{
  display: none;
}
#forecastscroll::-webkit-scrollbar{
  display: none;
}
#text{
  font-family: 'Orbitron', sans-serif;
}
/* #aqi::after{
  content: "";
  height: 100%;
  width:100%;
  background-image:linear-gradient(#245643,#FBB1B0,#FF5959,#A66CC1,#324F7B);
  position:absolute;
  transform: translate(-8%,-3%);
  z-index: -1;
  border-radius:16px;
  padding : 2px 6px;
            
} */